<header>
  <div class="jumbotron jumbotron-fluid">
    <video autoplay playsinline muted loop class="videobgframe" src="/video/header_video.webm"></video>
    <div class="container">
      <div>
        <h1 class="display-4"><%= restaurantName %></h1>
        <p class="lead"><%= restaurantDescription %></p>
      </div>
    </div>
  </div>
</header>
