<nav>
  <div class="logo">
    <a href="/">
      <img class="brand-logo" src="/img/Shitual_logo.png">
      Shitual
    </a>
  </div>
  <!-- TBD: replace bottom div with partials with if statement -->
  <% if (customerId) { %>
    <%- include('./_navbarLoggedIn') %>
  <% } else { %>
    <%- include('./_navbarLoggedOut') %>
  <% } %>
</nav>
