<div class="nav-loggedIn">
  <div>Welcome CustomerName</div>
  <form action="/api/customers/logout" method="POST">
    <button type="submit" class="btn btn-success">Log Out</button>
  </form>
  <i class="fas fa-shopping-cart"></i>
</div>
