.login-register-form {
  position: relative;
  top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-register-form form {
  background-color: lightgray;
}

.formTitle {
  text-align: center;
}

.formLogIn {
  padding-top: 25px;
}

.formSignUp {
  padding-top: 25px;
  padding-bottom: 25px;
}

.form-row {
  display: flex;
  flex-direction: row;
}
.form-group {
  padding: 20px;
}
button {
  margin-left: 20px;
}
