.list-group{
  margin: auto;
  width: 60%;
  padding: 10px;
  display: flex;
  .menu-item{
    border: 1px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    img {
      width: 150px;
      height: 150px;
    }
    .item-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .item-price {
      align-self: flex-end;
    }

    .item-quantity {
      align-self: flex-end;
      padding-left: 30px;
      padding-bottom: 15px;
      input {
        width: 50px;
      }
    }

  };
}
