section {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .sectionTitle {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 0.5em;

    i {
      margin-left: 0.5em;
    }
  }

  .ordersContainer {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    margin-bottom: 1.5em;
  }

  .noOnGoingOrder {
    border: 3px dotted black;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a:link, a:visited, a:active {
      text-decoration: none;
      color: black;
    }
  }

  .pastOrdersContainer {
    display: none;
  }
}

// .currentOrderSection {
//   margin-top: 120px;
// }
