.list-group{
  margin: auto;
  width: 60%;
  padding: 10px;
  display: flex;
  .restaurant{
    border: 1px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    div{
      align-self: center;
      img {
        width: 200px;
        height: 200px;
      }
    }
    .restaurant-details{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 20px;
      width: 60%;
      h2{
        padding-bottom: 20px;
      }
    }
    .restaurant-description{
      color: blue;
    }
    .restaurant-contact{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    :hover {
      cursor: pointer;
    }
  }
}

.restaurant-name{
  :hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}
